<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orthh.backend.repository.ProductRepository">

  <insert id="save" parameterType="com.orthh.backend.domain.Product"> 
    INSERT INTO products (
              name
            , status
            , price
            , userid
            ) 
          VALUES 
            (
              #{name}
            , #{status}
            , #{price}
            , #{userid}
            ) 
  </insert>

</mapper>