<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orthh.backend.repository.ProductRepository">

  <insert id="save" parameterType="com.orthh.backend.domain.Product"> 
    INSERT INTO products (
              name
            , status
            , price
            , userid
            ) 
          VALUES 
            (
              #{name}
            , #{status}
            , #{price}
            , #{userid}
            ) 
  </insert>

  <update id="changeStatus">
    UPDATE products
       SET status = #{status}
     WHERE productid = #{productid}
  </update>

  <select id="findAllProductsWithUser" resultType="com.orthh.backend.dto.product.ProductUserDto">
    SELECT p.productid
         , p.name
         , p.status
         , p.price
         , u.userid
         , u.nickname
      FROM products p 
      JOIN users u ON p.userid = u.userid
  </select>

  <select id="findById" resultType="com.orthh.backend.domain.Product">
    SELECT p.productid
         , p.name
         , p.status
         , p.price
      FROM products p 
      WHERE p.productid = #{productid}
  </select>

  <select id="findByName" resultType="com.orthh.backend.dto.product.ProductUserDto">
    SELECT p.productid
         , p.name
         , p.status
         , p.price
         , u.userid
         , u.nickname
      FROM products p 
      JOIN users u ON p.userid = u.userid
      WHERE p.name LIKE CONCAT('%', #{name}, '%')
  </select>

</mapper>