<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orthh.backend.repository.RentalRepository">

  <insert id="save" parameterType="com.orthh.backend.domain.Rental" useGeneratedKeys="true" keyProperty="rentalid"> 
    INSERT INTO rentals (
              userid
            , productid
            , startdate
            , duedate
            , returndate
            ) 
          VALUES 
            (
              #{userid}
            , #{productid}
            , #{startdate}
            , #{duedate}
            , #{returndate}
            ) 
  </insert>

  <select id="getByUserID" resultType="com.orthh.backend.dto.rental.RentalResDto">
    SELECT r.rentalid
         , r.startdate
         , r.duedate
         , p.productid
         , p.name
      FROM rentals r
      JOIN products p ON r.productid = p.productid
     WHERE r.userid = #{userId} AND r.returndate IS NULL
  </select>

  <select id="findById" resultType="com.orthh.backend.domain.Rental">
    SELECT r.rentalid
         , r.startdate
         , r.duedate
         , r.userid
         , r.productid
         , r.returndate
      FROM rentals r
     WHERE r.rentalid = #{rentalId}
  </select>

  <update id="updateReturnDate">
    UPDATE rentals
      SET returndate = #{returnDate}
     WHERE rentalid = #{rentalId}
  </update>

</mapper>